From: {{.From}}
To: {{.To}}
Subject: [Burrow] Kafka Consumer Lag Alert

{{range .Results}}Cluster:  {{.Cluster}}
Group:    {{.Group}}
Status:   {{if eq 1 .Status}}OK{{else if eq 2 .Status}}WARNING{{else if eq 3 .Status}}ERROR{{end}}
Complete: {{.Complete}}
Errors:   {{len .Partitions}} partitions have problems
{{range .Partitions}}          {{if eq 1 .Status}} OK{{else if eq 2 .Status}} WARN{{else if eq 3 .Status}}  ERR{{else if eq 4 .Status}} STOP{{else if eq 5 .Status}}STALL{{end}} {{.Topic}}:{{.Partition}} ({{.Start.Timestamp}}, {{.Start.Offset}}, {{.Start.Lag}}) -> ({{.End.Timestamp}}, {{.End.Offset}}, {{.End.Lag}})
{{end}}

----------------------------------------------------------------------
{{end}}

